---
import MainLayout from "../layouts/Main.astro";
import Resume from "../components/Resume.astro";
import Bento from "../components/Bento.astro";
---

<MainLayout title="Welcome to Astro.">
  <main class="flex grow">
    <Resume />
    <Bento />
  </main>
</MainLayout>
