---
interface Props {
  text: string;
  experienceIndex?: number;
}
const { text, experienceIndex } = Astro.props;
---

<div class="rounded-lg p-2 bg-[var(--light)] shadow" data-exp={experienceIndex}>
  <p>{text}</p>
</div>
