---
import "@fontsource-variable/newsreader";
---

<div class="flex items-center gap-4">
  <div class="w-24 h-24 rounded-full bg-white"></div>
  <h1
    style={{
      fontSize: "var(--font-size-xxxl)",
      fontFamily: "'Newsreader Variable', sans-serif",
      fontWeight: "550",
      letterSpacing: "-.1rem",
    }}
  >
    &amprew.
  </h1>
</div>
