---
---

<div class="flex items-center gap-4">
  <p>Let's connect</p>
  <div class="w-12 h-12 rounded-full bg-white"></div>
  <div class="w-12 h-12 rounded-full bg-white"></div>
  <div class="w-12 h-12 rounded-full bg-white"></div>
</div>
